@model FirstMVCProject.Models.Student
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Home page Student Details</h1>
    <h3>Roll No:@Model.roll</h3>
    <h3>Roll No:@Model.name</h3>
    <h3>Roll No:@Model.gender</h3>
    <h3>Roll No:@Model.age</h3>
    <h3>Roll No:@Model.course</h3>
    <h3>Roll No:@Model.fee</h3>

   
</div>
