@{
    ViewData["Title"] = "Home Page";
}

@model StronglyTypedView.Models.Product
<h1>Product Details</h1>
<hr/>
<div class="text-center">
	<h4>Product id:@Model.prodId</h4>
	<h4>Product name:@Model.prodName</h4>
	<h4>Product price:@Model.prodPrice</h4>
	<h4>Product Quantity:@Model.prodQty</h4>
</div>
